<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</head>
<body ng-app="App">
    <div class="container-fluid" >
        <div class="row" ng-controller="AppController" >
            
            <div class="col-sm-2 categoryMenu" >
                <ul class="nav nav-pills nav-stacked" ng-repeat="cat in CategoriesList">
                    
                    <li class="meniCat" role="presentation" ng-click="myFilter.CategoryId = cat.Id"><a>{{cat.Name}}</a></li>

                </ul>
                <ul class="nav nav-pills nav-stacked">
                    <li class="meniCat" role="presentation" ng-click="myFilter = {}"><a>Show all</a></li>
                </ul>
                
            </div>
            <div class="col-sm-10 productList" >
                
                <div ng-show="add">
                    <button class="btn" ng-click="addNew=true;add=false">+ Add product</button>
                    <form class="form-inline search">
                        <div class="form-group">
                            <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <br />
                    <br />
                    <table class="table table-hover">
                        <tbody>
                            <tr dir-paginate="prod in ProductsList | filter:search | filter:myFilter | itemsPerPage:3">
                                <td>
                                    <p>{{prod.Name}}</p>
                                    <p>Category: {{prod.CategoryName}}</p>
                                    <p>{{prod.Description}}</p>
                                    <p class="cena">Cena: {{prod.Price}} €</p>
                                    <button class="btn" ng-click="edit(prod)">Edit</button> <button class="btn" ng-click="delete(prod)">Delete</button>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>

                </div>
                <div ng-show="addNew">
                    <h2>Add Product</h2>

                    <div>
                        <label class="productLabel">Name: </label>
                        <input type="text" data-ng-model="Product.Name" />
                    </div>

                    <div>
                        <label class="productLabel">Price: </label>
                        <input type="number" step="any" data-ng-model="Product.Price" />
                    </div>

                    <div >
                        <label class="productLabel">Description: </label>
                        <textarea rows="8" cols="40" data-ng-model="Product.Description"></textarea><br />
                    </div>

                    <div class="selectDiv">
                        <label class="productLabel">Category: </label>
                        <select class="selectpicker" ng-model="Product.CategoryId" ng-options="cat.Id as cat.Name for cat in CategoriesList">
                            <option value="">Choose Category</option>                        
                        </select>

                    </div>
                    <br />
                    <button class="btn" ng-click="save()">Add Product</button>
                    <button class="btn" ng-click="clear()">Clear</button>
                    <button class="btn" ng-click="add=true;addNew=false" onclick="window.location.reload();">Cancel</button>


                </div>
                <div ng-show="update">
                    <h2>Edit Product</h2>

                    <div>
                        <label class="productLabel">Name: </label>
                        <input type="text" data-ng-model="Product.Name" />
                    </div>

                    <div>
                        <label class="productLabel">Price: </label>
                        <input type="number" step="any" data-ng-model="Product.Price" />
                    </div>

                    <div>
                        <label class="productLabel">Description: </label>
                        <textarea rows="8" cols="40" data-ng-model="Product.Description"></textarea><br />
                            
</div>

                    <div class="selectDiv">
                        <label class="productLabel">Category: </label>
                        <select class="selectpicker" ng-model="Product.CategoryId" ng-options="cat.Id as cat.Name for cat in CategoriesList">
                            <option value="">Choose Category</option>
                        </select>

                    </div>
                    <br />
                    <button class="btn" ng-click="saveUpdate()">Save Product</button>
                    <button class="btn" ng-click="update=false;add=true;" onclick="window.location.reload();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

